.box {
    background: linear-gradient(to bottom, pink, blue);
    border: solid;
    height: 200px;
    width: 200px;
    left: 80%;
    top: 20%;
    position: absolute;
    border-radius: 50%;
    animation: bouncingball 4s linear infinite;
}

.bounce {
    background: linear-gradient(to bottom, yellow, blue);
    height: 200px;
    width: 200px;
    left: 60%;
    top: 20%;
    position: absolute;
    border-radius: 50%;
    animation: bouncingball2 4s linear infinite;
    transform: scale
}

/*@keyframes movingbox {
  0% { left: 80%; transform: rotate(0deg); } 
  50% { left: 0%; transform: rotate(-180deg); }
  100% { left: 80%; transform: rotate(0deg); }
}*/

@keyframes bouncingball {
     0%  { left: 0%; transform: skew(0deg); }
     25% { top: 70%; transform: skew(0deg);}
     50% { left: 20%; top: 80%; transform: skew(10deg); }
     75% { top: 0%; transform: skew(0deg);}
    100% { left: 20%; top:10%; transform: skew(0deg); }
}

@keyframes bouncingball2 {
     0%  { left: 40%; }
     25% { top: 50%; }
     50% { left: 0%; top: 0%; }
     75% { top: 0%; }
    100% { left: 40%; }
}